*{
    font-family: 'Montserrat', sans-serif;
}

#homePageBody {
    margin: 0px;
    background-image: url('images/artist-band-bass-92080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#headerGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #000000a8;
    color: white;
}

#headerTitle {
    font-size: 225%;
    margin: 0px;
}

.headerNavigationLink{
    grid-row: 1;
    display: flex;
    justify-content:  center;
    align-items: center;
}

#contentGrid{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
}

.contentItem{
    margin: 20px;
    justify-self: center;
    height: 450px;
    width: 450px;
    transition: transform .4s;
    margin: 0 auto;
}

.contentText{
    font-size: 300%;
}

.contentItem:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#musicLink{
    background-image: url('images/music.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#musicText {
    color: #c89102b3;
    margin-top: 10px;
    margin-left: 20px;
}

#eventsLink{
    background-image: url('images/Blue-Background-400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#eventsText {
    color: #c89102b3;
    margin-left: 310px;
    margin-top: 10px;
    margin-right: 20px;
}

#merchLink{
    background-image: url('images/merch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#merchText {
    color: #ffffffb8;
    margin-top: 380px;
    margin-left: 20px;
    margin-bottom: 0px;
}

#aboutLink{
    background-image: url('images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutText {
    color: #ffffffb8;
    margin-top: 380px;
    margin-left: 320px;
}

#musicPageBody {
    margin: 0px;
    background-image: url('images/bookcase-bookshelves-bookstore-351265.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.musicBox {
    margin-left: 910px;
    margin-top: 388px;
    height: 206px;
    width: 211px;
    background-color: white;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footerLink {
    grid-row: 1;
    display: flex;
    justify-content:  center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    font-size: 150%;
    background: #ffffff7a;
    border-radius: 5px;
    padding: 10px;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: unset;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}